.container{
    background-color: #212121;
    width: 100% !important;
    height: 100vh !important;
}

.image{
    padding: 30px;
    img{
        width: 150px; 
        padding: 10px;
    }

    :hover{
        border-radius: 5px;
        border-width: 10px;
        border: yellow;
    }
}