.mat-dialog-container {
    padding: 0px !important;
    overflow: hidden !important;
    width: 100vh !important;
}

.container {
    width: 100vh;
    height: 90vh;
    
    background-color: #0D1117;
    color: beige;

    .mat-dialog-content {
        max-height: none !important;
    }

    .dialog-close{
        display: flex;
        justify-content: flex-end;
    }
}

