<img [src]="'https://image.tmdb.org/t/p/original'+data.backdrop_path" alt="" style="width: 750px;">
<p>{{data.title}}</p>
<p>{{data.overview}}</p>

<div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="margin: 10px;" (click) = "addMovie(data)" [style.color]="colorAdd">
        <mat-icon>add</mat-icon> <br>
        <p>Mi lista</p>
    </button>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="margin: 10px;" (click) = "likeMovie()" [style.color]="colorLike">
        <mat-icon>thumb_up</mat-icon><br>
        <p>Votar</p>
    </button>
</div>


