<div class="container">
    <!--Button close-->
    <div class="dialog-close">
        <mat-dialog-actions>
            <button mat-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </mat-dialog-actions>  
    </div>     
    <!--Button close-->

    <!--Content Dialog-->
    <mat-dialog-content>

        <img [src]="'https://image.tmdb.org/t/p/original'+data.backdrop_path" style="width: 100vh">
        
        <h1 mat-dialog-title>{{data.title | uppercase}}</h1>
        <p>{{data.overview}}</p>

        <button mat-icon-button class="example-icon favorite-icon" style="margin: 10px;" (click) = "addMovie(data)" [style.color]="colorAdd">
            <mat-icon>add</mat-icon> <br>
            <p>Mi lista</p>
        </button>

        <button mat-icon-button class="example-icon favorite-icon" style="margin: 10px;" (click) = "likeMovie()" [style.color]="colorLike">
            <mat-icon>thumb_up_border</mat-icon><br>
            <p>Votar</p>
        </button>
        
    </mat-dialog-content>
    <!--Content Dialog-->
</div>



