<mat-nav-list>
    <img src="./assets/skull-1.jpg" alt="" class="img1">
    <a mat-list-item routerLink="/movies/home" routerLinkActive="selec" style="color: white;">Home</a>
    <a mat-list-item routerLink="/movies/action" routerLinkActive="selec" style="color: white;">Action</a>
    <a mat-list-item routerLink="/movies/adventure" routerLinkActive="selec" style="color: white;">Adventure</a>
    <a mat-list-item routerLink="/movies/horror" routerLinkActive="selec" style="color: white;">Horror</a>
    <a mat-list-item routerLink="/movies/comedia" routerLinkActive="selec" style="color: white;">Comedia</a>
    <a mat-list-item routerLink="/movies/crime" routerLinkActive="selec" style="color: white;">Crime</a>
</mat-nav-list>