<mat-drawer-container class="example-container" autosize>

  <mat-drawer #mySideNav class="example-sidenav" mode="side">
    <!-- Menú lateral izquierdo - SideNav -->
    <app-sidenav></app-sidenav>
    <!-- Menú lateral izquierdo - SideNav -->
  </mat-drawer>

  <mat-drawer-content>
    <!------- Toolbar - NavBar ------->
    <app-navbar [showSideNav] = "mySideNav"></app-navbar>
    <!------- Toolbar - NavBar ------->
    <router-outlet></router-outlet>
  </mat-drawer-content>  

</mat-drawer-container>