.example-spacer {
    flex: 1 1 auto;
  }

  .example-sidenav {
    background-color: black;
    width: 200px;
    height: 100vh;
  }

  .mat-toolbar-row {
    display: flex !important;
    color: white !important;
    background-color: black !important;
  }